{% extends 'layouts/index.html' %}

{% block content %}
	<header class="business-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="display-3 text-center text-white mt-4">Grupo de Baile GDANCE</h1>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<h2 class="mt-4">G-DANCE</h2>
		<p>Somos una academia de baile. En la cual formamos deportistas en las tecnicas del baile utilizando diferentes generos musicales como salsa, merengue, reggueton, bachata, estos para formar la parte de coordinacion, ritmo y gusto. En el deporte porrismo formamos diferentes modalidades como cheer, poms y hip hop. </p>
		<p>MISION</p>
		<p>VISION</p>
	</div>
{% endblock %}