{% extends 'layouts/index.html' %}

{% block content %}
	<div class="container" style="margin-top: 50px;">
		<h2 class="mt-4">Lorem Ipsum</h2>
		<p>Sed in erat nec elit sollicitudin consequat. Mauris id massa orci. Quisque scelerisque erat at diam condimentum, vel dapibus purus tincidunt. Nullam mollis sapien a eros posuere rhoncus. Sed interdum accumsan justo, vitae semper felis sodales vel. Phasellus ultricies sem vehicula mi rutrum ornare. Nunc eros sapien, pellentesque quis dignissim sit amet, lacinia quis elit. Fusce iaculis interdum massa ac consectetur. Aenean aliquam lacus id porttitor convallis. Nulla ullamcorper magna quis neque ultricies aliquam.</p>
		<p>Curabitur venenatis semper eros, eget elementum ipsum. Ut ut ligula ut nibh bibendum suscipit id ut mi. Nullam dignissim sodales orci, et condimentum ipsum facilisis a. Ut ultricies ligula ac enim egestas, consectetur commodo tortor tempus. Nullam tempor dapibus urna, at lobortis sem lobortis ac. Sed mollis pretium tincidunt. Donec vitae tincidunt justo. Sed a aliquam diam.</p>
	</div>
{% endblock %}