{% extends 'layouts/index.html' %}

{% load staticfiles %}

{% block content %}
	<div class="container" style="margin-top: 50px;">
		<h2>{{ title }}</h2>
		<div class="row">
			<form role="form" action="{{ url }}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% for forms in form %}
					<div class="form-group col-md-6">
						<label>{{ forms.label }}</label>
						{{ forms }}
						<p class="text-danger">{{ forms.errors }}</p>
					</div>
				{% endfor %}
				<div class="form-group col-md-12 text-center">
					<input type="submit" class="btn btn-success" value="Enviar">
				</div>
			</form>
		</div>
	</div>
{% endblock %}